<!-- add new view -->
<div>
  <form>
    <div class="form-group"><label>First Name: </label><input type="text" class="form-control" ng-model="newObj.firstName"></div>
    <div class="form-group"><label>Last Name: </label><input type="text" class="form-control" ng-model="newObj.lastName"></div>
    <div class="form-group"><label>Address: </label><input type="text" ng-model="newObj.address" class="form-control"></div>
    <div class="form-group"><label>Phone Number: </label><input type="text" ng-model="newObj.phoneNumber" class="form-control"></div>
    <div><button class="btn btn-default" ng-click="submitFunction()">Submit</button></div>
  </form>
</div>